<!-- profile.hbs -->
<section class="index-page">
  <h2>User Profile</h2>
  <p>Welcome, {{user.displayName}}!</p>
  <!-- Dodaj link do powrotu do strony logged -->
  <p><a href="/user/logged">Back to Logged</a></p>
</section>