<!-- profileSettings.hbs -->
<section class="index-page">
  <h2>Profile Settings</h2>
  <p>Customize your profile settings here, {{user.displayName}}!</p>
  <!-- Dodaj link do powrotu do strony logged -->
  <p><a href="/user/logged">Back to Logged</a></p>
</section>